<header>
    <div class="navbar">
      <span class="logo">PagoTerrenos</span>
      <nav>
        <button>Inicio</button>
        <button>Clientes</button>
        <button>Terrenos</button>
        <button>Deudas</button>
        <button class="touch">Contacto</button>
      </nav>
    </div>
  </header>
  
  <main class="container">
    <app-asistente></app-asistente> <!-- Aquí se usa el componente -->
  </main>
  <!-- <main class="container">
    <router-outlet></router-outlet>
  </main> -->
  

  
  <!-- <section class="info">
    <p>Sistema de gestión de pagos de terrenos con seguimiento de deudas.</p>
  </section> -->